* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}

.main {
    width: 1200px;
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #333;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 48px;
}

.bars-icon {
    width: 1.3rem; 
    height: 1.3rem;
    color: #fff;
    display: none;
    margin-left: 15px;
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0,0,0,.2);
    display: none;
    animation: fadeIn linear 1s;
}

.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 1;
    transition: transform linear 2s, opacity linear 2s;
}

.nav__mobile-list {
    padding-left: 0;
    list-style: none;
    margin-top: 30px;
    margin-left: 20px;
}

.nav__mobile-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: #000;
    line-height: 2.5rem;
}

.nav__mobile-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 30px;
}



/* Article */
h1 {
    line-height: 2rem;
}

article {
    padding: 0 16px;
    line-height: 1.6rem;
}

article img {
    width: 640px;
    max-width: 100%;
    display: block;
    margin: 32px auto;
}

@media (max-width: 1023px) {
    .bars-icon {
        display: block;
    }

    .nav__pc {
        display: none;
    }
}

.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__input:checked ~ .nav__mobile {
    transform: translateX(0%);
    opacity: 1;
}

.nav__input {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
